# IDE & Tooling
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dependencies & Build
node_modules/
target/
dist/
build/

# Environment & Logs
.env
.env.*
*.log

# Misc
HELP.md
.gitattributes
